h3 {
    margin: 0;
}

.dialog-container h3 {
    padding-top: 0;
}

.dialog-container .action-container {
    position: relative;
}

.dialog-container .action-container .action-row {
    width: 100%;
    display: inline-block;
    text-align: right;
}

.dialog-container .action-container .action-row button {
    margin-left: 20 !important;
}

.dialog-container .mat-dialog-actions:last-child {
    margin-bottom: 0;
}

.dialog-container .mat-dialog-actions {
    padding: 0;
}

/* .btnConfirm{
    background-color: #004384 !important;
    color: #fff;
} */